
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

body{
    font-family:  "DM Serif Display", serif;
    p{
        font-size: 25px;
    }

    button{
        font-size: 20px;
    }
}

header{
    background-color: rgb(214, 214, 214);
    padding: 5px;
}

#logo{
    width: 150px;
}

.slider{
    margin: 0;
    width: 400px;
    height: 400px;
    overflow: hidden;
}
.slides{
    width: 400%;
    height: 400px;
    display: flex;
}
.slides input {
    display: none;
}

.slide{
    width: 25%;
    position: relative;
}

.slide img{
    width: 800px;
}
.navManu {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.navManu{
    border: 2px;
}