@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

/* Interface do site */
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flexbox;
    font-family: "DM Serif Display", serif;

    p {
        font-size: 25px;
    }
}

    /* cabeçalho do site */
    header {
        background-color: rgb(214, 214, 214);
        padding: 5px;

        /* botão do cabeçalho */
        button {
            font-size: 15px;
            cursor: pointer;
        }
    }

    /* logotipo da loja */
    #logo {
        width: 150px;
    }

   